<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>

    <!-- Toogle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links Collapsing -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-search"></i>
          </button>
        </form>
      </div> -->

      <div class="navbar-nav ms-auto authenticate">
        <a class="nav-link" href="/listings/new" id="addListingBtn"
          >List your property</a
        >

        <!-- Login & Sigup Btns -->
        <% if(!currUser) { %>
        <button
          class="btn btn-dark mt-md-0 mt-2"
          onclick="window.location.href = '/signup'"
        >
          Sign up
        </button>
        <button
          class="btn btn-outline-dark ms-md-2 mt-md-0 mt-2"
          onclick="window.location.href = '/login'"
        >
          Log in
        </button>
        <% } %> <% if(currUser) { %>
        <button class="btn btn-dark" onclick="window.location.href = '/logout'">
          Log out
        </button>
        <% } %>
      </div>
    </div>
  </div>
</nav>
